################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Excel2ctt/.vs
Excel2ctt/obj
Excel2ctt/logs/xvba_debug.log
.config
Logs
docs/doxyoutput